.page {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    display: none;
    opacity: 1;
}

.show-page {
    display: block;
}

.hide-page {
    opacity: 0;
    transition: all 1s;

    transform: translateY(-20px);
    animation: fageDown 1s ease forwards;

    @keyframes fageDown {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(20px);
        }
    }
}

.fade-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s ease forwards;

    @keyframes fadeUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}