@use "../utils/vars" as *;
@use "../utils/mixins" as *;

.add-client-block {
        font-size: 20px; 
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fff;
        @include font("Montserrat", 400, 20px);

        input {
            max-width: 200px;
            width: 100%;
            outline: none;
            font-size: 15px;
            background-color: #2b2b2b; 
        }
    }

    .add-client {
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 1);
        position: absolute;

        &-panel {
            margin-top: 50px;
            background-color: #161616;
            padding: 20px;
            border-radius: 20px;
        }

        &-list {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-top: 20px;
            @include font("Montserrat", 400, 20px);
            color: #fff;
        }

        &__item {
            font-size: 18px;
            border-bottom: 1px solid rgb(41, 41, 41);
            padding: 10px 0;
            cursor: pointer;

            .block {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                @include flex(row, space-between, center);


                &:hover {
                    .add-client-events {
                        display: flex;
                    }

                    .add-client__name {
                        background-color: #2b2b2b;
                    }

                    .add-client__name.edited {
                        pointer-events: visible;
                        background-color: #3f3f3f;
                    }

                    background-color: #2b2b2b;
                }     
            }
        }


        &-wrap {
            @include flex(row, flex-start, center);
            gap: 20px;
            width: 100%;
            padding: 15px 5px;

            &:hover {
                .add-client__name {
                    background-color: #2b2b2b;
                }
            }
        }

        &__name {
            font-size: 20px;
            width: 100%;
            max-width: 500px;
            background-color: #161616;
            border: none;
            color: #fff;
            outline: none;
            display: block;
            height: 100%;
            pointer-events: none;
            border-radius: 5px;
        }
        
        &__name.edited {
            pointer-events: visible;
            background-color: #3f3f3f;
        }

        &-events {
            @include flex(row, center, center);
            gap: 20px;
            padding-right: 10px;
            height: 100%;
            display: none;

            a {
                transition: all 0.3s;
                &:hover {
                    transform: scale(1.2, 1.2);
                    transition: all 0.3s;
                }
            }

            img {
                display: block;
                width: 20px;
                height: 20px;
                fill: #fff;
            }
        }

        &__btn {
            padding: 3px 10px;
            display: block;
            height: 100%;
            background-color: #2f5519;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: #fff;

            &:hover {
                background-color: rgb(22, 53, 5);
            }
        }

        &-sublist {
            border-left: 1px solid #202020;
            transition: all 0.3s;
            margin-left: 10px;
        }

        &-sublist__item {
            padding: 5px 50px;
            @include flex(row, space-between, center);
            .add-client-events {
                img {
                    width: 15px;
                    height: 15px;
                }
            }

            &:hover {
                background-color: #242424;

                .sublist__name {
                    background-color: #242424;
                }

                .sublist__name.edited {
                    background-color: #3f3f3f;
                }
                .add-client-events {
                    display: flex;
                }
            }
        }

        .sublist-events {
            display: flex;
            gap: 20px;
        }
    }

    .sublist__name {
        background-color: #161616;
        border: none;
        color: #fff;
        pointer-events: none;
        font-size: 18px;
        outline: none;
    }

    .sublist__name.edited {
        background-color: #3f3f3f;
        pointer-events: visible;
        padding: 0 5px;
        border-radius: 5px;
    }