@use "../utils/vars" as *;
@use "../utils/mixins" as *;


.hero {
    width: 100%;
    height: 100vh;
    position: relative;


    .video-back {
        position: relative;
        width: 100%;
        height: 100%;

        video {
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-sizing: border-box;
            filter: blur(1px);  
        }
    }


    .video-filter {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;

        background-color: #000;
        opacity: 0.4;
    }

    &-content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;

        @include flex(column, center, center);

        color: #fff;
        gap: 40px;
        overflow: hidden;  
    }

    .title {
        height: 50%;

        @include flex(column, end, center);
    }


    &__title {
        font-size: 80px;
        margin: 0;
        letter-spacing: 5px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
    }

    &__input {
        width: 500px;
        font-size: 20px;
        outline: none;
        border-radius: 15px;
        border: 1px solid #dadada;
        color: #fff;
        display: block;

        padding: 5px 10px;

        font-weight: 400;
        font-family: "Montserrat", sans-serif;

        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(7px); 
    }

    .find {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: relative;

        height: 50%;
    }

    .result {
        width: 150%;
        top: 60px;
        list-style: none;
        margin: 0;
        font-family: "Montserrat", sans-serif;
        padding: 0 10px 20px 0;

        overflow: auto;
        transition: all 0.3s;

        max-height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;

        // &::-webkit-scrollbar {
        //     width: 6px;
        // }

        // &::-webkit-scrollbar-track {
        //     background: rgba(255, 255, 255, 0.1);
        //     border-radius: 10px;
        // }

        // &::-webkit-scrollbar-thumb {
        //     background: rgba(255, 255, 255, 0.3);
        //     border-radius: 10px;

        //     &:hover {
        //         background: rgba(255, 255, 255, 0.5);
        //     }
        // }

        &__item {
            margin-top: 10px;
            background: rgba(255, 255, 255, 0.1);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(7px);
            padding: 20px;
            box-shadow: 0px 1px 17px 4px rgba(0, 0, 0, 0.5);
            border-radius: 15px;

            font-size: 20px;
            letter-spacing: 2px;
            transition: all 0.3s;
            cursor: pointer;


            @include flex(row, space-between, center);


            &:hover {
                background: rgba(255, 255, 255, 0.2);
            }
        }

        &__item:hover {
            .result__arrow {
                opacity: 1;
                width: 40px;
                transition: width 0.3s;
            }
        }

        &__arrow {
            transition: all 0.3s;
            width: 30px;
            height: 1px;
            background-color: #c0c0c0;
            position: relative;
            opacity: 0;

            &::before, &::after {
                content: "";
                position: absolute;
                right: 0;
                display: block;
                width: 10px;
                height: 1px;
                background-color: #c0c0c0;
            }

            &::before {
                top: -3px;
                transform: rotate(35deg);
            }

            &::after {
                top: 3px;
                transform: rotate(-35deg);
            }   
        }

        .hide {
            opacity: 0;
            transform: scale(0.95);
            pointer-events: none;
            max-height: 0;
            margin: 0;
            padding: 0;
            overflow: hidden;
            font-size: 0;
        }
    }
}