@use "../../utils/vars" as *;
@use "../../utils/mixins" as *;

.menu {
        min-width: 300px;
        max-width: 400px;
        height: 100%;
        grid-area: sidebar;

        background-color: #161616;
        @include font("Montserrat", 400);
        @include flex(column, flex-start, flex-start);

        &-header {
            width: 100%;
            padding: 10px 10px;
            background-color:#202020;
            flex: 0 0 auto;
        }
 

        &__find {
            width: 100%;
            font-size: 18px;
            border: 1px solid #969696;
            background-color: #2b2b2b;
            padding: 5px 20px 5px 5px;
            border-radius: 5px;
            color: #fff;
            outline: none;
        }

        &-body {
            width: 100%;
            padding: 0 10px;
            max-height: 100%;
            overflow-y: auto;
            flex: 1 1 auto;
        }

        &-list {
            list-style: none;
            margin: 0;
            padding: 0;
            color: #fff;
        } 


        &-list__item {
            padding: 10px 10px;
        }

        &-list__name {
            font-size: 20px;
            letter-spacing: 1px;
            padding: 5px 0px;
            display: flex;
            align-items: center;
            gap: 20px;

            &:hover {
                background-color: #1b1b1b;
                cursor: pointer;
                border-radius: 5px;
            }
        }

        &-sublist {
            border-left: 1px solid rgb(49, 49, 49);
            transition: all 0.3s;

            &__item {
                margin: 5px 0 0 10px;
                cursor: pointer;
                padding: 5px 5px 5px 30px;
                border-radius: 5px;

                &:hover {
                    background-color: #1b1b1b;
                }
            }
        }

        .select {
            background-color: #292929;
        }
    }