@use "../../utils/vars" as *;
@use "../../utils/mixins" as *;

.services {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: rgb(0, 0, 0, 1);

    &-header {
        flex: 0;
        width: 100%;
        padding: 0 30px 0 0;
        color: #fff;
        height: 70px;

        @include flex(row, flex-start, center);
        gap: 20px;

        @include font("Montserrat", 400, 18px);
        background-color: #161616;
    }

    &__title {
        letter-spacing: 3px;
    }

    &__back-btn {
        width: 60px;
        height: 100%;
        border: none;
        @include flex();    
        cursor: pointer;
        color: #fff;
        background-color: #161616;

        &:hover {
            background-color: #272727;
        }

        .arrow {
            width: 80%;
            height: 1px;
            background-color: #cccccc;
            position: relative;

            &::before, &::after {
                @include pseudo("", block, absolute);
                width: 10px;
                height: 1px;
                background-color: #fff;
            }

            &::before {
                transform: rotate(-35deg);
                top: -3px;
            }
            &::after {
                transform: rotate(35deg);
                top: 3px;
            }
        }
    }

    
    &-body {
        flex: 1;
        width: 100%;
        height: 100%;
        @include flex(row, flex-start, flex-start);
        height: calc(100vh - 70px);
    }
}