@use "../../utils/vars" as *;
@use "../../utils/mixins" as *;


.workspace {
    width: 100%;
    padding: 20px;
    height: 100%;
    grid-area: content;

    @include flex(column);

    &-header {
        flex: 0 0 auto;
        width: 100%;
        color: #fff;
        padding: 5px;
        @include font("Montserrat", 400, 16px);
    }

    &-body {
        width: 100%;
        flex: 1 1 auto;
        overflow-y: auto;
        padding-right: 5px; 
        margin-top: 10px;
    }
}